#contenedor-menu{
    background-color: white;
  }
  #opcion-select{
     border-bottom: solid; border-bottom-color: #ea1e2c;
    float: left;
    width: 150px;    
    height: 50px;
  }
  #opcion{
    border-bottom: solid; border-bottom-color: #4C5857; 
    float: left;
    width: 150px;
    height: 50px;

  }

