#contenedor-menu{
    background-color: white;
  }
  #opcion-select{
     border-bottom: solid; border-bottom-color: #ea1e2c;
    width: 150px;    
    height: 95%;
    background-color: white;
    color: #ea1e2c;
  }
  #opcion{
    border-bottom: solid; border-bottom-color: #4C5857; 
    width: 150px;
    height: 95%;
    background-color: white;

  }